.sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background: #fff; /* light grey background */
    padding: 20px;
  }
  
  .sidebar ul {
    list-style: none;
    padding: 0;
  }
  
  .sidebar li {
    padding: 38px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #ccc;
  }
  
  .material-icons {
    font-size: 24px; /* icon size */
    color: #006782; /* icon color */
  }
  
  .selcted{
    background-color: #EEF5F8;
    width: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    border-radius: 50%;  }