.app {
  background-color: #f2f2f2;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.search-container {
  position: relative;
  max-width: 600px;
  border: 1px solid #ccc;
  border-radius: 25px;
  overflow: hidden;
  color: #006782;
}

.search-container .form-control {
  border: none;
  box-shadow: none;
  border-radius: 25px;
}

.search-container .clear-btn {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  background: transparent;
  color: #006782;
  font-size: 20px;
  cursor: pointer;
}

.search-container .clear-btn:hover {
  color: #006782;
}

.search-container input::placeholder {
color: #006782 !important;
}

.heading-color{
  color: #bbbbbb !important;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
